<div class="container-flex">
    <div class="category-block-wrapper">
        <category-block [categoryType]="categoryType.MensOuterwear"></category-block>
    </div>
</div>


<div class="container-flex">
    <div class="category-block-wrapper">
        <category-block [categoryType]="categoryType.LadiesOuterwear"></category-block>
    </div>
</div>


<div class="container-flex">
    <div class="category-block-wrapper">
        <category-block [categoryType]="categoryType.MensTshirts"></category-block>
        <category-block [categoryType]="categoryType.LadiesTshirts"></category-block>
    </div>
</div>